 <div class="d-flex">

  <!-- sidebar -->
  <div class="bg-dark border-right p-3" id="sidebar"> 
    <h1 class="text-light">
      Funny Gifs
    </h1>
    <hr class="text-light">
    <div class="list-group list reset">
      <a href="#"
      class="list-group-item list-group-item-action">
        Dashboard
      </a>
    </div>
  </div>
<!-- End Sidebar -->

  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar Gifs">
      </div>
    </div>
    <hr class="light-text">
      
    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia porro ipsam perferendis ipsa placeat cumque adipisci quasi autem sapiente nobis mollitia, commodi dolores explicabo numquam, perspiciatis dolore facilis, deserunt in.
        
      </div>
    </div>

  </div>
  
</div>